<link href="views/main/main-view-style.css" rel="stylesheet">
<div class="main-view-wrapper">
    <h2>
        Is your memory as accurate as you think it is?
    </h2>
    <p class="col-md-8 col-md-offset-2 bg-info message-container">
        On each turn, a player turns over two cards (one at a time) and keeps them if they match.
        When a player turns over two cards that do not match numbers, those cards are turned face down again.
        <br>
        <br>
        <b>Time yourself to see how fast you can find all of the matching pairs. </b>
    </p>
    <div class="col-md-6 col-md-offset-3">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ctrl.GameStarted()">Start the memory game!</button>
    </div>
</div>
<br/>
