.img-responsive {
    margin-bottom: 15px;
}

.image-wrapper {
    cursor: pointer;
}

.not-selectable {
    pointer-events: none;
/*
    animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
*/
}

.layer {
    position: absolute;
    top: 0;
    left: 6%;
    width: 90%;
    padding: 42.5%;
    pointer-events: none;
    border-radius: 5px;
    animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: 1s;
    pointer-events: none;
}

.layer-blue {
    background-color: #007dc6;
}

.layer-yellow {
    background-color: #ffc220;
}

.image-wrapper img {
    opacity: 0;
    visibility: hidden;
}

.image-wrapper .show-img {
    opacity: 1;
    visibility: visible;
    animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: 1s;
    pointer-events: none;
}

/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}
