.timer-wrapper {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.timer-ending {
  -webkit-animation: time-running-out 1s infinite; /* Safari 4+ */
  -moz-animation:    time-running-out 1s infinite; /* Fx 5+ */
  -o-animation:      time-running-out 1s infinite; /* Opera 12+ */
  animation:         time-running-out 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes time-running-out {
    0%, 49% {
        background-color: transparent;
    }
    50%, 100% {
        background-color: #d9534f;
        color: white
    }
}